<form action="/friends" method="post">
  <input type="text" placeholder="Name" name="friend_name">
  <input type="text" placeholder="State" name="friend_state">
  <input type="text" placeholder="Contact Info" name="friend_contact">
  <input type="submit">
</form>
